html {
    scroll-behavior: smooth;
    margin: 0%;
    padding: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #133C55;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #29335C;
}
.container {
    background-color: #F7F7F2;
    border-radius: 1rem;
    padding: 2rem;
    min-height: 70vh;
    width: 60vh;
}
form {
    margin: 2rem 0 2rem 0;
}
form input, select, button {
    width: 100%;
    border: none;
    border-radius: 0.75rem;
}

#heading {
    margin-top: 0rem;
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    color: #133C55;
}
#amount {
    font-size: 1.25rem;
}
#amount-heading {
    margin-bottom: 0.5rem;
}
form input {
    height: 3rem;
    font-size: 1.15rem;
    padding-left: 0.5rem;

}
form input:hover {
    border: 0.01rem #46B1C9 solid;
}
#selection {
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
}
.selection-heading {
    margin-bottom: 0.5rem;
} 
.flag {
    height: 6rem;
    width: 6rem;
}
.selection_menu {
    height: 2rem;
    font-size: 1rem;
    text-align: center;
}
.selection_menu:hover {
    border: 0.01rem #46B1C9 solid;
    cursor: pointer;
}
.flag-container {
    width: 10rem;
    display: flex;
    justify-content: center;
}
#symbol {
    display: flex;
    align-items: center;
    font-size: 2rem;
}
#answer {
    height: 5rem;
    background-color: #FBFAF8;
    border-radius: 0.75rem;
    margin: 1rem 0rem 1rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}
#answer:hover {
    border: 0.01rem #46B1C9 solid;
}
.answer-heading {
    font-size: 1.25rem;
}
#exchange-btn {
    padding: 1rem 0rem 1rem 0rem;
    background-color: #3083DC;
    font-size: 1.25rem;
    color: #F8FFE5;
}
#exchange-btn:hover {
    background-color: #44CCFF;
    cursor: pointer;
}

/* Media Queries For Smaller Display */

@media (max-width: 700px) {
    .container {
    padding: 2rem;
    height: 40vh;
    width: 30vh;
    }
    #heading {
        font-size: 1.5rem;
    }
    #amount {
        font-size: 1.25rem;
    }

    #selection {
        font-size: 1rem;
    } 
    .flag {
        height: 3rem;
        width: 3rem;
    }
    .flag-container {
        width: 3rem;
    }
    #answer {
        height: 2rem;
        margin: 1rem 0rem 1rem 0rem;
    }
}

